<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="unbxdApiSuite" preserve-order="true">


		
	<test name="unbxd">
			<classes>
					<class name="unbxd.Request">
					        <methods>
       			         		<include name="Test1"/>
       			         		<include name="Test2"/>
       			         		 </methods>
					
			</class>
			
			</classes>
	</test>
</suite> 
